*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: brown;
   
}

section{
    background-image: url("circleimg/image-from-rawpixel-id-3283508-jpeg.jpg");
    background-size: cover;
    min-height: 100vh;
    padding: 15px 5px;
}
.container{
    width: 85%;
    margin: auto;
}
nav{
    height: 80px;
}

nav h1{
    float: left;
    font-size: 25px;
    color: #081be9;
    font-weight: 700;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline;
    list-style:none;
    padding: 10px;
}
#locotag{
    width: 25px;
    height: 25px;
}
nav ul li a{
    color: #081be9;
    text-decoration: none;
    padding: 10px;
    text-transform:uppercase;
    border-radius:10px;
}

nav ul li a:hover{
    background-color:#081be9;
    color: black;
}

.article{

    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}

.article h1{
    margin: auto;
    font-size: 36px;
    color:rgb(179, 219, 145);
    font-weight: 900;
    margin-bottom: 25px;
}

.article p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    color: rgb(195, 242, 25);
    margin-bottom: 50px;
}

.article .btn{
    color:rgb(255, 255, 255);
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    background-color: rgb(223, 45, 68);}
